@import 'vars';
@import 'mixins';

.contacts {
    &__content {
        display: flex;
        // align-items: flex-start;
        // justify-content: space-between;
        // gap: 3.3rem;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 151rem;

        @include small-tablet {
            max-height: none;
        }
    }

    &__info {
        max-width: 77.9rem;
        width: 100%;

        @include small-tablet {
            order: 2;
            margin-top: 8rem;
        }

        &-title {
            margin-bottom: 5.6rem;
            max-width: 50%;
            @include small-tablet {
                max-width: none;
                margin-bottom: 4.8rem;
            }
        }

        &-block {
            padding: 5rem;
            border-radius: 4rem;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.8) 14.39%,
                rgba(255, 255, 255, 0) 182.55%
            );

            @include small-tablet {
                padding: 5.2rem 3.2rem;
            }

            &-title {
                color: $text-primary;
                font-family: $font-family-URW;
                font-size: 3.2rem;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.064rem;
                text-transform: uppercase;
                margin-bottom: 4.4rem;

                @include small-tablet {
                    font-size: 4rem;
                    margin-bottom: 4.8rem;
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 3rem;

                @include small-tablet {
                    gap: 0;
                }
            }

            &-item {
                display: flex;
                flex-direction: column;

                @include small-tablet {
                    gap: 1.6rem;
                    &:nth-child(1),
                    &:nth-child(3) {
                        margin-bottom: 2.4rem;
                    }
                    &:nth-child(2) {
                        margin-bottom: 4.8rem;
                    }
                }
                &-name {
                    color: $text-secondary;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: normal;

                    @include small-tablet {
                        font-size: 2.8rem;
                        line-height: 1.8rem;
                    }
                }

                &-link {
                    color: $blue;
                    font-family: $font-family-URW;
                    font-size: 2.2rem;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.044rem;
                    text-transform: uppercase;

                    @include small-tablet {
                        font-size: 3.6rem;
                        line-height: 2.4rem;
                        letter-spacing: 0.14rem;
                    }
                }

                &-address,
                &-company {
                    color: $text-primary;
                    font-size: 2.3rem;
                    font-weight: 400;
                    line-height: normal;
                    font-style: normal;

                    @include small-tablet {
                        font-size: 3.6rem;
                    }
                }
            }
        }

        &-socials {
            height: 16.4rem;
            padding: 0 5rem;
            padding-top: 4rem;
            margin-top: -3.35rem;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: space-between;

            @include small-tablet {
                justify-content: center;
                align-items: flex-end;
                padding: 5.2rem 11.2rem 5.2rem 11rem;
                height: 32.4rem;
                margin-top: -10.3rem;
            }

            .background-image {
                position: absolute;
                inset: 0;
                z-index: -1;
                border-radius: 0rem 0rem 4rem 4rem;
                overflow: hidden;

                img {
                    object-fit: initial;
                    transform: rotate(-90deg) scaleX(5) scaleY(4.75);
                }
            }

            &-description {
                color: $white;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: normal;
                max-width: 29.5rem;
                width: 100%;
                display: block;
            }

            &-list {
                display: flex;
                align-items: center;
                gap: 3.6rem;

                @include small-tablet {
                    gap: 4.8rem;
                }
            }

            &-item {
                @extend .insights__form-info-icons-item !optional;
            }
        }
    }
}
