@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima-Regular/ProximaNovaRegular.eot');
    src:
        url('../fonts/Proxima-Regular/ProximaNovaRegular.eot') format('embedded-opentype'),
        url('../fonts/Proxima-Regular/ProximaNovaRegular.woff2') format('woff2'),
        url('../fonts/Proxima-Regular/ProximaNovaRegular.woff') format('woff'),
        url('../fonts/Proxima-Regular/ProximaNovaRegular.ttf') format('truetype'),
        url('../fonts/Proxima-Regular/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima-SemiBold/ProximaNovaSemibold.eot');
    src:
        url('../fonts/Proxima-SemiBold/ProximaNovaSemibold.eot') format('embedded-opentype'),
        url('../fonts/Proxima-SemiBold/ProximaNovaSemibold.woff2') format('woff2'),
        url('../fonts/Proxima-SemiBold/ProximaNovaSemibold.woff') format('woff'),
        url('../fonts/Proxima-SemiBold/ProximaNovaSemibold.ttf') format('truetype'),
        url('../fonts/Proxima-SemiBold/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima-Bold/ProximaNovaBold.eot');
    src:
        url('../fonts/Proxima-Bold/ProximaNovaBold.eot') format('embedded-opentype'),
        url('../fonts/Proxima-Bold/ProximaNovaBold.woff2') format('woff2'),
        url('../fonts/Proxima-Bold/ProximaNovaBold.woff') format('woff'),
        url('../fonts/Proxima-Bold/ProximaNovaBold.ttf') format('truetype'),
        url('../fonts/Proxima-Bold/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'URW Geometric Extended';
    src: url('../fonts/URW-Bold/URWGeometricExtBold.eot');
    src:
        url('../fonts/URW-Bold/URWGeometricExtBold.eot') format('embedded-opentype'),
        url('../fonts/URW-Bold/URWGeometricExtBold.woff2') format('woff2'),
        url('../fonts/URW-Bold/URWGeometricExtBold.woff') format('woff'),
        url('../fonts/URW-Bold/URWGeometricExtBold.ttf') format('truetype'),
        url('../fonts/URW-Bold/URWGeometricExtBold.svg#URWGeometricExtBold') format('svg');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'URW Geometric Extended';
    src: url('../fonts/URW-Heavy/URWGeometricExtHeavy.eot');
    src:
        url('../fonts/URW-Heavy/URWGeometricExtHeavy.eot') format('embedded-opentype'),
        url('../fonts/URW-Heavy/URWGeometricExtHeavy.woff2') format('woff2'),
        url('../fonts/URW-Heavy/URWGeometricExtHeavy.woff') format('woff'),
        url('../fonts/URW-Heavy/URWGeometricExtHeavy.ttf') format('truetype'),
        url('../fonts/URW-Heavy/URWGeometricExtHeavy.svg#URWGeometricExtHeavy') format('svg');
    font-style: normal;
    font-display: swap;
    font-weight: 900;
}
