@import 'vars';
@import 'mixins';

.insights {
    &__title {
        margin-bottom: 7rem;
        max-width: 124.4rem;
        width: 100%;
        @include small-tablet {
            margin-bottom: 4.8rem;
        }
    }

    &__category {
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 2.4rem 1.2rem;
            margin-bottom: 5rem;
            @include small-tablet {
                flex-wrap: nowrap;
                overflow-x: hidden;
            }
        }

        &-item {
            flex: 1;
            border-radius: 5rem;
            border: 0.2rem solid $white;
            background:
                0 0/10rem 10rem repeat,
                rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(2.5rem);
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: 0.3s background-color ease-out;

            &:hover {
                background: $blue;
                a {
                    color: $white;
                }
            }

            a {
                color: $text-primary;
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 2.875rem;
                width: 100%;
                height: 100%;
                display: block;
                padding: 2.8rem 6.5rem;
                transition: 0.3s color ease-out;

                @include small-tablet {
                    font-size: 3.6rem;
                    line-height: 4.5rem;
                    padding: 3.2rem 6.4rem;
                }
            }
        }
    }

    &__articles {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        @include small-tablet {
            gap: 1.6rem;
        }

        &-button {
            display: block;
            margin: 0 auto;
            margin-top: 3rem;
            padding: 3rem 6rem;

            @include small-tablet {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 4.6rem 4.8rem;
                font-size: 3.2rem;
            }
        }
    }

    &__article {
        padding: 5rem;
        padding-left: 11.3rem;
        border-radius: 5rem;
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 4.8rem;
        height: 100%;
        flex: 1;

        @include small-tablet {
            padding-left: 15rem;
            flex-direction: column;
        }

        &-date {
            position: absolute;
            color: $blue;
            font-family: $font-family-URW;
            font-size: 3.2rem;
            font-weight: 400;
            letter-spacing: 0.064rem;
            text-transform: uppercase;
            writing-mode: vertical-lr;
            display: block;
            transform: rotate(180deg);
            top: 5rem;
            left: 5rem;

            @include small-tablet {
                font-size: 4rem;
                top: 4.8rem;
                left: 4.8rem;
            }
        }

        &-image {
            max-width: 44.7rem;
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            display: block;

            @include small-tablet {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 51.2rem;
                max-height: 27.6rem;
                border-radius: 3.6rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;

            &-category {
                display: block;
                margin-bottom: 3rem;
                color: $blue;
                font-size: 2.3rem;
                font-weight: 700;
                line-height: 2.875rem;

                @include small-tablet {
                    order: 1;
                    font-size: 3.6rem;
                    margin-bottom: 2.5rem;
                }
            }

            &-title {
                color: $text-primary;
                font-family: $font-family-URW;
                font-size: 3.2rem;
                font-weight: 600;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                margin-bottom: 3rem;
                line-height: 4.4rem;
                display: block;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 92.4rem;
                width: 100%;

                @include small-tablet {
                    font-size: 3.6rem;
                    margin-bottom: 2.4rem;
                    line-height: normal;
                }
            }

            &-reading {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: $text-secondary;
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 2.875rem;

                @include small-tablet {
                    order: 2;
                    font-size: 3.6rem;
                    gap: 2rem;
                }

                img {
                    width: 2.4rem;
                    height: 2.4rem;

                    @include small-tablet {
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                }
            }

            &-link {
                position: absolute;
                bottom: 5rem;
                left: 43%;
                transform: translateX(-50%);

                @include small-tablet {
                    display: none;
                }
            }
        }
    }
}
