//colors
$text-primary: #1e2328;
$text-secondary: rgba(#434e58, 0.75);
$text-additional: #1d1d1f;
$white: #fff;
$blue: #00589b;
$icons: #b0becd;
$grey: #c1cfe4;

$bg-primary: #cde3f5;

//z-indexes
$z-index-modals: 1001;
$z-index-searchbar-menu: 1000;
$z-index-catalog: 999;
$z-index-burger-menu: 998;
$z-index-catalog-sort-menu: 997;
$z-index-catalog-filter-menu: 996;
$z-index-mobile-bar-menu: 995;
$z-index-other: 2;

//additional
$font-family: 'Proxima Nova', sans-serif;
$font-family-URW: 'URW Geometric Extended', sans-serif;
