// Global SCSS-files imports
@import './vars';
@import './reset';
@import './fonts';
@import './global';
@import './components';

// Libs
@import './libs/YMaps';
@import './libs/swiper';

//Sections or Pages SCSS-files imports
@import './header';
@import './breadcrumbs';
@import './insights';
@import './article';
@import './insights-form';
@import './footer';
@import './404';
@import './privacy';
@import './contacts';
@import './main';
@import './business-areas';
